@use "../general/mixins" as m;
@use "../general/variables" as v;

.advantages-icons{
    background-size: cover;
    color: white;
    @include m.mobile{
        &__header{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
        }
        .blocks-container{
            --global-gaps: 60px;
        }
    }
    &__heading{
        width: 70%;
        font-size: 45px;
        font-weight: 700;
        margin-block: 0 20px;
        @include m.mobile{
            width: 100%;
            font-size: 30px;
            margin-block: 30px;
        }
    }
    &__description{
        font-size: 20px;
        margin-block: 0 60px;
        width: 70%;
        text-wrap-style: balance;
        @include m.mobile{
            display: none;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 30px;
        @include m.mobile{
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
    &__item{
        height: auto;
        padding: 30px;
        box-sizing: border-box;
        border: 1px inset rgb(255 255 255 / .2);
        border-radius: 24px;
        background-color: rgb(255 255 255 / .1);
        backdrop-filter: blur(20px);
        @include m.mobile{
            padding: 25px;
        }
    }
    &__icon{
        margin-bottom: 87px;
        @include m.mobile{
            margin-bottom: 0;
            width: 52px;
            height: 52px;
        }
    }
    &__title{
        font-size: 25px;
        font-weight: 600;
        margin-block: 0 20px;
        @include m.mobile{
            font-size: 20px;
            margin-block: 0;
        }
    }
    &__about{
        font-size: 20px;    
        font-weight: 400;
        margin: 0;
        @include m.mobile{
            font-size: 16px;
        }
    }
}