@use "../general/mixins" as m;
@use "../general/variables" as v;


.for-whom{
    position: relative;
    z-index: 1;
    @include m.mobile{
        --global-gaps: 60px 30px;    
    }
    &__heading{
        margin-block: 0 40px;
        @include m.mobile{
            margin-block: 0 30px;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: 1fr;
        gap: 20px;
        @include m.mobile{
            grid-template-columns: 1fr;
        }
    }
    &__item{
        position: relative;
        border-radius: 24px;
        padding: 30px;
        box-sizing: border-box;
        color: white;
        overflow: hidden;
        min-height: 236px;
        @include m.mobile{
            min-height: 190px;
            padding: 20px;
        }
    }
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
    &__title{
        margin-block: 0 16px;
        font-size: 25px;
        font-weight: 600;
        @include m.mobile{
            margin-block: 0 10px;
            font-size: 20px;
        }
    }
    &__description{
        font-size: 20px;
        font-weight: 400;
        width: 60%;
        @include m.mobile{
            font-size: 16px;
            width: 100%;
            text-wrap-style: balance;
        }
    }
}