@use "../general/mixins" as m;
@use "../general/variables" as v;

.results-block{
    background-size: cover;
    color: white;
    font-weight: 400;
    @include m.mobile{
        .blocks-container{
            --global-gaps: 60px;
        }
    }
    &__heading{
        margin: 0;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 40px;
        @include m.mobile{
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: 1fr;
        gap: 20px;
        @include m.mobile{
            grid-template-columns: 1fr;

        }
    }
    &__item{
        padding: 30px;
        box-sizing: border-box;
        border: 1px inset rgb(255 255 255 / .2);
        border-radius: 24px;
        background-color: rgb(255 255 255 / .1);
        backdrop-filter: blur(20px);
        @include m.mobile{
            padding: 25px;
        }
    }
    &__title{
        margin-block: 0 16px;
        font-size: 25px;
        font-weight: 600;
        @include m.mobile{
            font-size: 20px;
            margin-block: 0 10px;
        }
    }
    &__description{
        width: 70%;
        font-size: 20px;
        text-wrap-style: balance;
        margin: 0;
        @include m.mobile{
            width: 100%;
            font-size: 16px;
            text-wrap-style: auto;
        }
    }
}