@use "../general/mixins" as m;
@use "../general/variables" as v;

.steps{
    @include m.mobile{
        --global-gaps: 0px 60px;
    }
    &__heading{
        margin-bottom: 40px;
        @include m.mobile{
            margin-bottom: 30px;
        }
    }
    &__items{
        display: flex;
        flex-direction: column;
        gap: 20px;
        counter-reset: step;
        margin: 0;
        padding: 0;
    }
    &__item{
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 30px 40px;
        background-color: #E1E7F9;
        border-radius: 24px;
        list-style: none;
        &::before{
            content: counter(step);
            counter-increment: step;
            width: 100px;
            font-size: 154px;
            line-height: 1;
            font-weight: 500;
            text-align: center;
            background: linear-gradient(to top, #E1E7F9, #AABBEE);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @include m.mobile{
            padding: 20px;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            &::before{
                width: auto;
                font-size: 90px;
            }
        }
    }
    &__title, &__description{
        width: 70%;
        @include m.mobile{
            width: 100%;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 25px;
        margin-block: 0 16px;
        @include m.mobile{
            font-size: 20px;
            margin-block: 0 10px;
        }
    }
    &__description{
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        @include m.mobile{
            font-size: 16px;
        }
    }
}