@use "../general/mixins" as m;
@use "../general/variables" as v;

.what-includes{
    position: relative;
    z-index: 1;
    font-weight: 400;
    @include m.mobile{
        --global-gaps: 60px;
    }
    &__heading{
        margin-bottom: 40px;
        @include m.mobile{
            margin-bottom: 30px;
        }
    }
    &__item{
        display: grid;
        grid-template-columns: 110px 1fr;
        gap: 10px 20px;
        grid-template-areas: 
            "icon title"
            "icon content";
        padding: 35px;
        margin-bottom: 20px;
        border-radius: 24px;
        box-sizing: border-box;
        background-color: white;
        position: relative;
        @include m.mobile{
            padding: 25px;
            gap: 12px 10px;
            grid-template-columns: 52px 1fr;
            grid-template-areas: 
                "icon title"
                "content content";
        }
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: calc(100% + 4px);
            height: calc(100% + 2px);
            top: 1px;
            left: -2px;
            background-image: linear-gradient(to top, v.$light_blue, white 80%);
            box-sizing: content-box;
            border-radius: 24px;
            z-index: -1;
        }
        &--not-enough{
            background-color: #E1E7F9;
            margin-bottom: 40px;
            &::after{
                content: none;
            }
        }
    }
    &__icon{
        grid-area: icon;
        width: 100%;
        height: 100%;
        object-fit: contain;
        @include m.mobile{
            height: auto;
        }
    }
    &__title{
        margin: 0;
        font-weight: 600;
        font-size: 25px;
        @include m.mobile{
            font-size: 20px;
            align-self: center;
        }
    }
    &__list, &__description{
        grid-area: content;
        margin: 0;
        font-size: 20px;
        @include m.mobile{
            font-size: 16px;
        }
    }
    &__list{
        padding-left: 20px;
        @include m.mobile{
            padding-left: 16px;
        }
    }
    &__button{
        color: white;
        background-color: v.$light_blue;
        width: 100%;
        height: 64px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        transition: 300ms ease;
        &:hover{
            filter: brightness(1.15);
        }
        @include m.mobile{
            height: 44px;
            border-radius: 10px;
            font-size: 16px;
        }
    }
}