@use "./general/mixins" as m;
.cases{
    $this: &;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #ECF0F3;
    border-radius: 36px;
    padding: 60px;
    box-sizing: border-box;
    text-wrap-style: balance;
    position: relative;
    margin-bottom: 80px;
    @include m.mobile{
        padding: 22px;
        border-radius: 24px;
        margin-bottom: 38px;
    }
    &__link{
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        gap: 31px;
        @include m.mobile{
            flex-direction: column;
            gap: 20px;
        }
        @media (hover: hover){
            &:hover #{$this}__heading{
                color: var(--light-blue);
            }
        }
    }
    &__image{
        width: 392px;
        height: 196px;
        object-fit: cover;
        border-radius: 10px;
        @include m.mobile{
            width: 100%;
            height: 157px;
            border-radius: 5px;
        }
    }
    &__info{
        flex: 1;
    }
    &__heading{
        margin-block: 0 20px;
        font-weight: 500;
        font-size: 28px;
        line-height: 1;
        transition: 300ms; 
        @include m.mobile{
            font-size: 20px;
        }       
    }
    &__excerpt{
        font-size: 16px;
        line-height: 1.1;
        @include m.mobile{
            font-size: 14px;
        }       
        p{margin:0;}
    }    
}


.cases-navigation{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 13.5px;
    margin-bottom: 20px;
    z-index: 1;
    &__button{
        --hover-color: var(--light-blue);
        display: flex;
        align-items: center;
        height: 40px;
        padding-inline: 16px;
        font-size: 16px;
        line-height: 1;
        background: transparent;
        border: none;
        position: relative;
        overflow: hidden;
        transition: 300ms box-shadow, 400ms color;
        cursor: pointer;
        @include m.mobile{
            padding-inline: 5px;
            height: 25px;
        }
        &--active{
            --hover-color: #CED4DA;
            color: #666666;
            box-shadow: 0px 0px 0px 2px #CED4DA;
        }
        &:focus{
            border: none;
            outline: none;
        }
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
            background-color: var(--hover-color);
            z-index: -1;
            transition: 300ms top ease;
        }
        @media (hover: hover){
            &:hover{
                color: white;
                box-shadow: 0px 0px 0px 2px var(--hover-color);
                &::after{
                    top: 0;
                }
            }
        }
    }
}


.cases-cats{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
    @include m.mobile{
        margin-bottom: 20px;
    }
    &__button{
        font-size: 16px;
        line-height: 1;
		border: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		transition: color .3s ease;
		&:focus{ outline: none; }
		&:hover{
			text-decoration: underline;
			text-decoration-thickness: 2px;
		    text-underline-offset: 3px;
            color: var(--light-blue);
		}   
        &--active{
			font-weight: 700;
		    color: var(--light-blue);
		}     
    }
}


.cases-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    &__circle{
        border: 4px solid color-mix(in srgb, var(--light-blue, black) 20%, white 80%); /* Use CSS variable for color */
        border-top: 4px solid var(--light-blue, black); /* Use CSS variable for color */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.case-cover{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    text-wrap-style: balance;
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
    z-index: 1;
    margin-top: 100px;
    margin-inline: auto;
    width: min(1200px, 100% - 30px);

    @include m.mobile{
        padding: 20px;
        border-radius: 10px;
        margin-top: 60px;
    }
    &__image{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        &--mobile{
            display: none;
        }
        @include m.mobile{
            &--desktop{
                display: none;
            }
            &--mobile{
                display: block;
            }
        }
    }
    &__heading{
        font-weight: 700;
        line-height: 1;
        font-size: 55px;
        margin-block: 0 20px;
        width: 60%;
        @include m.mobile{
            width: 100%;
            font-size: 28px;
            margin-block: 0 10px;
            br{display: none;}
        }        
    }
    &__description{
        font-size: 20px;
        line-height: 1;
        margin: 0;
        @include m.mobile{
            font-size: 16px;
            br{display: none;}
        }        
    }
}