@use "sass:color";
@use "./general/mixins" as m;
@use "./general/variables" as v;
@use "../../node_modules/swiper/swiper.scss";
@use "../../node_modules/swiper/modules/grid.scss";
@use "./main.scss";
@use "./cases.scss";
@use "./blocks/person_hero.scss";
@use "./blocks/problems.scss";
@use "./blocks/advantages_icons.scss";
@use "./blocks/what_includes.scss";
@use "./blocks/results.scss";
@use "./blocks/for_whom.scss";
@use "./blocks/steps.scss";
@use "./blocks/get_price.scss";

:root{
	--light-blue: #2747B9;
}
